Package: photoflare
Version: 1.7.0~noble1
Architecture: amd64
Maintainer: Dylan Coakley <info@photoflare.io>
Installed-Size: 5000
Depends: libc6,libgraphicsmagick++-q16-12t64,libqt6gui6t64,libqt6core6t64,libqt6widgets6t64,libqt6printsupport6t64,qt6-image-formats-plugins, libomp5
Section: graphics
Priority: optional
Homepage: https://www.photoflare.io
Description: Photoflare
 Simple but featureful editor. Built for casual graphic editing and performance.
