Package: photoflare
Version: 1.7.4
Architecture: amd64
Maintainer: Dylan Coakley <info@photoflare.io>
Installed-Size: 5000
Depends: qt6-image-formats-plugins
Section: graphics
Priority: optional
Homepage: https://www.photoflare.io
Description: Photoflare
 Simple but featureful editor. Built for casual graphic editing and performance.
